.top{
    width: 100%;
    height: 70px;
    background-color:white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}
.topleft{
    flex:6;
    
    display: flex;
    align-items: center;
    justify-content: center
}
.icon{
    margin-right: 20px;
}
.topright{
    flex:6;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.topicon{
    margin-right: 20px;
}
#searchmenu{
    border: 1px solid black;
    height: 27px;
}
@media only screen and (min-width:320px) and (max-width:780px) {
.top{
display: none
}
}