.product{
    width: 300px;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product__img{
    width: 80%;
    height: 170px;
    border-radius: 8px;
}
.product__info>p{
    margin-bottom: 8px;
    text-align: center;
}
.info__price{
    font-weight: bold;
}
.info__name{
    font-size:1rem;
    overflow: hidden;
}
.info__button{
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color:blue;
    background: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    border: 1px solid #171717;
    padding: 8px 2px;

}