img{
    height: 300px;
    width: 400px;
    border: 2px solid black;
    display: block;
    margin: auto;
    background: black
}

.slickk-arrow{
    color: black;
    font-size: 30px
}
.slick-prev{
    z-index: 100;
    left: 20px !important;
}
.slick-next{
    z-index: 100;
    right: 20px !important;
}